/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*custom styles*/
.container {
    max-width: 1200px;
    padding: 0 32px;
    margin: 0 auto;
}
/*header*/
.header , .footer {
    background-color: blue;
    font-size: 26px;
    font-family: 'Roboto', sans-serif;
    padding: 16px 0;
}
.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.brand img {
    width: 100px;
    height: 50px;
   
}
.link {
    color: cornsilk;
    font-size: 16px;
    margin-right: 21px;
    text-decoration: none;
    text-transform: uppercase;
}
.green {
    color: rgb(166, 235, 166);
}
/*main*/
h1 {
    font-size: 32px;
    color: brown;
    text-align: center;
    padding: 44px;
    text-transform: uppercase;
}
.row {
    width: 900px;
    background-color: darksalmon;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 24px;
    
}
.column {
    width: 30%;
     flex-wrap:nowrap;
}
.image {
    width: 100%;
    height: 100%;
    border-radius: 12px;
}
.bottom {
    padding-bottom: 72px;
}
/*footer*/
.margin {
    margin-right: 24px;
    color: cornsilk;
}
